@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: only light;
}

@keyframes hand-animation{
    0% {transform: rotate(0);}
    50% {transform: rotate(60deg);}
    100% {transform: rotate(0);}
}

@keyframes fade-in{
    0% {opacity: 0}
    100% {opacity: 1}
}

.hand-animate{
    animation-name: hand-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative; 
    z-index: 10; 
}

#screen-1{
    animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#screen-2{
    animation-name: fade-in;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
